<!-- # layout.erb -->

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Plate Calculator</title>
  <!-- <link href="/reset.css" rel="stylesheet"> -->
  <!-- <link href="/style.css" rel="stylesheet"> -->
</head>
<body>
  <header>
    <hgroup>
      <h1>No More Adding Weights</h1>
      <h2>'cause you're too tired to count</h2>
    </hgroup>
  </header>

  <div id="main">
    <%= yield %>
  </div>

  <footer>

  </footer>
</body>
</html>